.grid{
    width: 606px;
    height : 606px;
     display: flex;
     flex-wrap: wrap; 
   
}

.square{
    width: 200px;
    height: 200px;
    border : white 1px solid;

}

.mole{
    background-image: url(./mole.jpg);
    background-size : cover;
   
}